version: "{{ compose_version }}"
services:
  traefik:
    image: traefik
    ports: [ "80:80", '443:443', '8080:8080' ]
    restart: unless-stopped
    volumes:
      - {{ docker_socket }}:/var/run/docker.sock
      - ./traefik.toml:/traefik.toml
      - ./traefik_dynamic.toml:/traefik_dynamic.toml


networks:
  default:
    name: {{ compose_network }}
    driver: bridge
